h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(2, 16, 97)
}
body{
    background-color: azure;
}

form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table, th, td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    font-size: 30pt;
    border-collapse: collapse;
    border-width: 1px;
    text-align: center;
}
thead{
    text-transform: capitalize;
    background-color: rgb(96, 151, 151);
}

tfoot{
    text-transform: lowercase;
    background-color: aquamarine;
}

colgroup{
    background-color: antiquewhite;
}